<html ng-app="NDA">
  <head>
  <link rel="stylesheet" href="css.css">
  
  </head>
  <header class="center"> Non-Disclosure and Intellectual Property Rights Agreement 
  </header>
  <body>
    <div class = "center" ng-controller = "NDAdoc as doc">
        <form>
          <p> Proprietor's name: </p>
          <input ng-model="doc.proprietor" type="text">
          <p> Recipeint's name: </p>
           <input ng-model="doc.recipient" type="text">
          <p> Intellectual Property: </p>
           <input ng-model="doc.IP" type="text">
           <p>
           <input type="submt" value="Submit">
           <p>
        </form>

    </div>

    <ipa></ipa>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js"></script>
    <script src="app.js"></script>
    
  </body>
</html>
